:root {
    --primary-color: #FF5400;
    --title-color: #131318;
    --paragraph-color: #5A5A5D;
}

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1400px;
    margin: auto;
}

/* shared styles */
/* button primary design */
.button-primary {
    border-radius: 10px;
    background: var(--primary-color);
    height: 52px;
    color: white;
    text-align: center;
    font-size: 1.1em;
    font-weight: 700;
    cursor: pointer;
}

.button-primary .fa-solid {
    margin-right: 5px;
}

/* header section */
nav {
    background-color: #FFF;
    height: 80px;
    width: 90%;
}

label.logo {
    color: #424247;
    font-size: 35px;
    line-height: 80px;
    padding: 0 150px;
    font-weight: bold;
    position: relative;
}

#logo-image {
    right: 15px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: #424247;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    color: var(--primary-color);
}

/* banner section */

.banner-section {
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00)), url(../Images/Group\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 80%;
    height: 500px;
    margin: 0 auto;
    position: relative;
}

.banner-section h1 {
    color: #FFF;
    font-size: 4em;
    font-weight: 800;
    text-align: center;
    position: absolute;
    margin: 100px 290px 310px 290px;
    width: 600px;
    height: 80px;
}

.banner-section p {
    color: #FFF;
    text-align: center;
    font-size: 1em;
    font-weight: 400;
    margin: 210px 250px 240px 250px;
    position: absolute;
    width: 650px;
    height: 50px;
}

.banner-section-input {
    display: flex;
    padding: 15px;
    gap: 15px;
    width: 800px;
    height: 50px;
    margin: 310px 180px 100px 180px;
    position: absolute;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.30);
    align-items: center;
    justify-content: center;
}

.banner-section-input input,
button {
    width: 175px;
    height: 50px;
    border-radius: 10px;
    background: #FFF;
    outline: 0;
    border: none;
    padding-left: 15px;
}